




.page-footer{

    background-color: #c4c4a3;
    border-top: 5px solid #6d1c1c;
    font-family: 'Cairo', sans-serif;
}


.Title-Head{
    color: #6d1c1c;
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
}


.TextForFooter{
    color: #fff;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}

.list-Link li a{
    color: #6d1c1c;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}







.page-footer{
    background-color: #c4c4a3;
    border-top: 5px solid #6d1c1c;
    font-family: 'Cairo', sans-serif;
}


.Title-Head{
    color: #6d1c1c;
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
}


.TextForFooter{
    color: #fff;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}



.list-Link li a{
    color: #6d1c1c;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Cairo', sans-serif;
}





/*

  <!--navbar-->
    <nav class="navbar navbar-expand-md    fixed-top navbar-org">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="img/اشترينا001.jpg"   >
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <a class="nav-link a-navbar add-ads li-navbar" href="#"> اضف اعلانك <i class="fas fa-tag"></i> </a>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="#">
                <ul class="navbar-nav">

                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link a-navbar li-navbar" href="DashboardCustomer.html" target="_blanck">    لوحة التحكم   <i class="fas fa-chart-pie"></i></a>
                    </li>



                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle a-navbar li-navbar" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="cursor" style="cursor: pointer;">

                                <i class="far fa-bell" style="cursor: pointer;"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="#">لا يوجد اشعارات جديدة حتى الان</a>
                            <a class="dropdown-item" href="#">لقد تم تغيير كلمة مرور الخاصة بحسابك </a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link a-navbar add-ads li-navbar" href="AddAdvertisement.html"  > اضف اعلانك <i class="fas fa-tag"></i> </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link a-navbar li-navbar" href="#" > الاقسام <i class="fas fa-th-list"></i> </a>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle a-navbar li-navbar" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="cursor" style="cursor: pointer;"> ابراهيم مصطفى   <i class="fa fa-user" style="cursor: pointer;"></i></span> </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="#">حسابي</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">تسجيل خروج</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End navbar-->
*/






/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .Cards {
        margin-left: 15px;
        width: 100%;
        line-height: 1.2;

    }
    .p-ForP{

        margin-top: 5px;
        font-size: 11px;
    }
}



.p-ForP{
    font-size: 15px;
    font-weight: 800;
    color: #580707;

}

@media (min-width: 768px) and (max-width: 991px) {
    .TwoProp{
        display: none;
    }
    .p-ForP{

        margin-top: 5px;
        font-size: 11px;
    }

    .p-forprice{
    font-size: 11px;
    }








}

 /* Medium devices (tablets, 768px and up)*/
@media (min-width: 991px) and (max-width: 1999px) {
    .card{
        margin-left: -8px;
        margin-right: -8px;
    }
    .p-forprice{
        font-size: 11px;
        }


    .p-ForP{

        margin-top: 5px;
        font-size: 10px;
    }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .TwoProp{
        display: none;
    }
    .p-ForCards {

        font-size: 10px;
    }

    .p-ForP {

        font-size: 10px;

    }
    .card-title{
        font-size: 12px;
        margin-right: -2px;
    }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .p-forcity{



    }



    .p-forprice{

    }

 }



 .card-text:last-child {
    margin-bottom: -14px;
}













.navbar-brand img{
    height: 70px;
    width: 70px;
    margin-top: -10px;
    margin-bottom: -12px;
}




.imgbrand img{
    height: 90px;
    width: 100px;
    margin-top: -15px;
    margin-bottom: -15px;
    border: 3px solid;
}



 .p-forpage{
    text-align: end;font-size: 15px;
    margin-top: 35px;
    color: rgb(175, 83, 83);
    font-family: 'Cairo', sans-serif;

 }




.li-navbar{

    font-family: 'Cairo', sans-serif;


}



.p-ForCards {
    margin-bottom: 2px;
    margin-top: -8px;

    text-align: end;
    font-family: 'Cairo', sans-serif;


}


.PriceForalone-ADs{
    background-color:  #e5e5ca!important;
    padding: 2px;
    margin-top: -212px;

    margin-left: -20px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}


.card-text{
    text-align: center;
}




.img-slider{
    border-top: 4px solid #580707;
    border-bottom: 4px solid #580707;
    box-shadow: 20px 20px 50px #b5b5ad;
}

@media(max-width:767px){

    .img-slider{
        margin-top: -20px;
    }

}




.card-body{

    border-top: 3px solid #6d1c1c;
}



.text-muted{
    font-family: 'Cairo', sans-serif;


}


.bg-success {
    background-color: #6d1c1c;
}

.p-forcity{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: lighter;
    text-align: end;
    font-family: 'Cairo', sans-serif;
    color:  #6d1c1c;


}



.p-forprice{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: end;
    font-weight: 800;
    font-family: 'Cairo', sans-serif;
    color:  #6d1c1c;
}


.card-title {
    text-align: end;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
   color:  #6d1c1c;
    font-weight: 700;
    margin-top: -10px;
}

.p-ForP {

    text-align: end;

    font-weight: bolder;
    margin-bottom: 10px;
    font-family: 'Cairo', sans-serif;

}





.Row-Cards{
    margin-right: 0px;
    margin-left: -22px;
}

.numberMember{
    float: left;
}


.PriceFor-ADs-exp1 {
    display: flex;
    background-color: #e5e5ca;
    color: #580707;
    padding: 5px;
    margin-top: -194px;
    margin-left: -20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
}


    .PriceFor-ADs {
        display: flex;
        background-color: #e5e5ca;
        color: #580707;
        padding: 5px;
        margin-top: -199px;
        margin-left: -20px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Cairo', sans-serif;
    }






/*    navbar      */


.bs-example {
    margin: 20px;
}



.navbar-org {
    background-color: #e5e5ca;
    padding: 10px;
    border-bottom: 2px solid #580707;
}

.navbar-brand {
    color: #580707;
    text-decoration: none;
    background-color: transparent;
}



    .navbar-brand:hover {
        color: #580707;
    }

.a-navbar {
    color: #580707;
    font-size: 17px;
    text-decoration: none;
    background-color: transparent;
}




    .a-navbar:hover {
        color: #580707;
    }

/*.........................................*/



.fa-star {
    font-size: 15px;
    cursor: pointer;
    color: orange;
}











@media (min-width: 300px) and (max-width: 350px) {
    .card {
        width:18rem  ;
        margin-left: 7px;
    }

    .for-marquee {
        display:none;
    }


    .Dis-Ds-lab {
        display: none;
    }
}



@media (min-width: 768px) and (max-width: 1000px) {

    .text-prop2{
        display: none;
    }
    .text-muted {
        font-family: 'Cairo', sans-serif;
        font-size: xx-small;
    }
    .card-title {

         font-size: 12px;
    }
    .p-ForCards {

        font-size: 10px;

    }
    .Card-Footer{
    margin-top: -16px;
    margin-bottom: -16px;
    }
    .progress{

        height: 19px;
        font-size: 10px;
    }

}

.progress{
    direction: rtl;
    background-color: #e5e5ca;

}



@media (min-width: 1001px) and (max-width: 1024px) {
    .card {
        width:14rem  ;

    }


}



@media(max-width:767px) {

    .for-marquee {
        display:none;
    }


    .Dis-Ds-lab {
        display: none;
    }

    .card{
        margin-right: -21px;
    }


}













.add-ads {
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #580707;
    font-size: 15px;
    border-radius: 5px;
}


.for-marquee {
    background-color: #bdc3c7;
    color: #580707;
    font-size: 20px;
    padding-top: 10px;
    margin-top: -38px;
}

    .for-marquee:hover {
        cursor: pointer;
        color: #580707;
        font-size: 25px;
    }


.input-group, .mb-3 {
    margin-bottom: 0px;
}























   /* <div class="Stras" style="  margin-top: -130px;margin-left: 65px;">
        <span onmouseover="starmark(this)" onclick="starmark(this)" id="1one" class="fa fa-star checked"></span>
        <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one" class="fa fa-star "></span>
        <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one" class="fa fa-star "></span>
        <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one" class="fa fa-star"></span>
        <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one" class="fa fa-star"></span>

    </div> */


    /*




.navbar-brand img{
    height: 70px;
    width: 70px;
    margin-top: -10px;
    margin-bottom: -12px;
}




.imgbrand img{
    height: 90px;
    width: 100px;
    margin-top: -15px;
    margin-bottom: -15px;
    border: 3px solid;
}








.li-navbar{

    font-family: 'dubai-bold';

}







.p-ForCards{
    margin-bottom: 2px;margin-top: -8px;font-size: 12px;
}


.PriceForalone-ADs{
    background-color: #69a1d4!important;
    padding: 2px;
    margin-top: -207px;
    color: chocolate;
    margin-left: -20px;
    border-radius: 5px;
    font-size: 18px;

    font-family: 'Cairo', sans-serif;
}


.card-text{
    text-align: center;
}

.text-muted{
    font-family: 'Goldman', cursive;
    font-family: 'Kufam', cursive;
    font-family: 'Lora', serif;
    font-family: 'Markazi Text', serif;

}



.p-forcity{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;
    text-align: end;
    font-family: 'Goldman', cursive;
    font-family: 'Kufam', cursive;
    font-family: 'Lora', serif;
}


.p-forprice{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
    text-align: end;
    font-family: 'Goldman', cursive;
font-family: 'Lora', serif;

    font-weight: 700;
}


.card-title {
    text-align: end;
    font-family: 'Almarai', sans-serif;
    font-size: larger;

}

.p-ForP {
    text-align: end;
    font-size: 15px;
    font-weight: 800;
    color: #580707;

}



.p-ForCards {
    margin-bottom: 2px;
    margin-top: -8px;
    font-size: 12px;
    text-align: end;
    font-family: 'Tajawal', sans-serif;
}






.PriceFor-ADs{

    background-color: #28a745!important;
    padding: 2px;
    margin-top: -207px;
    color: chocolate;
    margin-left: -20px;
    border-radius: 5px;
    font-size: 18px;

    font-family: 'Cairo', sans-serif;

}







.bs-example {
    margin: 20px;
}



.navbar-org {
    background-color: #e5e5ca;
    padding: 10px;
    border-bottom: 2px solid #580707;
}

.navbar-brand {
    color: #580707;
    text-decoration: none;
    background-color: transparent;
}



    .navbar-brand:hover {
        color: #580707;
    }

.a-navbar {
    color: #580707;
    font-size: 17px;
    text-decoration: none;
    background-color: transparent;
}




    .a-navbar:hover {
        color: #580707;
    }





.fa-star {
    font-size: 15px;
    cursor: pointer;
    color: orange;
}











@media (min-width: 300px) and (max-width: 350px) {
    .card {
        width:18rem  ;
    }

    .for-marquee {
        display:none;
    }


    .Dis-Ds-lab {
        display: none;
    }
}



@media (min-width: 768px) and (max-width: 1000px) {
    .card {
        width:10rem  ;
    }




}


@media (min-width: 1001px) and (max-width: 1024px) {
    .card {
        width:14rem  ;
    }

}



@media(max-width:767px) {

    .for-marquee {
        display:none;
    }


    .Dis-Ds-lab {
        display: none;
    }

}



.add-ads {
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #580707;
    font-size: 15px;
    border-radius: 5px;
}


.for-marquee {
    background-color: #bdc3c7;
    color: #580707;
    font-size: 20px;
    padding-top: 10px;
    margin-top: -38px;
}

    .for-marquee:hover {
        cursor: pointer;
        color: #580707;
        font-size: 25px;
    }


.input-group, .mb-3 {
    margin-bottom: 0px;
}



    */





