 
    * {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    font-family: 'Cairo', sans-serif;
    color: black;
}

#heading {
    text-transform: uppercase;
    color: #580707;
    font-weight: 700;  
      font-family: 'Cairo', sans-serif;

}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #580707;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #580707;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #580707;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: left;
    margin-right: 10px;
}



#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #580707;
}

#msform .action-button-previous {
    width: 100px;
    background: #c4c4a3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
    color: #580707;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #580707;
    color: #c4c4a3;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
    border: 0px;
}

.fs-title {
    font-size: 25px;
    color: #580707;
    margin-bottom: 15px;
  
    text-align: left;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

.purple-text {
    color: #580707;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    float: right;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #580707;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #580707
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #580707
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.input-section1{
    direction: rtl;
}
 

 
/*<fieldset>
     <li id="account"><strong>الحساب</strong></li>
    <div class="form-card">
        <div class="row">
            <div class="col-7">
                <h2 class="fs-title">معلومات الحساب:</h2>
            </div>
            <div class="col-5">
                <h2 class="steps">  1 - 4</h2>
            </div>
        </div>
         <label class="fieldlabels">: *البريد الإلكتروني</label>
          <input class="input-section1" type="email" name="email"    />
           <label class="fieldlabels">: *اسم المستخدم</label> 
           <input class="input-section1" type="text" name="uname"   /> 
           <label class="fieldlabels">: *كلمه السر</label> 
           <input class="input-section1" type="password" name="pwd"   /> 
           <label class="fieldlabels">: *تأكيد كلمة المرور</label> 
           <input class="input-section1" type="password" name="cpwd"  />
 <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> 
    </div> <input class="input-section1" type="button" name="next" class="next action-button" value="Next" />
    
</fieldset>*/
 