







.title-form-Terms{

    padding: 20px;
    margin-bottom: 34px;
    color: #c4c4a3;
    background-color: #580707;
    border-radius: 7px;
    font-family: 'Cairo', sans-serif;
}



.p-for-Terms{
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Cairo', sans-serif;
}


